/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob4/build/
/Hmwk/Hwrk1/Gaddis_8thEd_Chap2_Prob18/Gaddis_8thEd_Chap2_Prob18/build/
/Hmwk/Hwrk1/Gaddis_8thEd_Chap2_Prob18/Gaddis_8thEd_Chap2_Prob18/dist/
/Lab/BigLetterC/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob1/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob1/dist/
/Hmwk/Hwrk1/Savitch_9thed_chap1_pracprob_prob2/build/
/Hmwk/Hwrk1/Savitch_9thed_chap1_pracprob_prob2/dist/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob3/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob3/dist/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob5/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob5/dist/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob6/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob1/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob1/dist/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProb_Prob2/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProb_Prob2/dist/
/Hmwk/Hwrk1/Savitch_9thed_Chap1_ProgProb_Prob3/build/
/Hmwk/Hwrk1/Savitch_9thed_Chap1_ProgProb_Prob3/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob13/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob13/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob1/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob1/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob2/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob2/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob3/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob3/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob4/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob4/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob11/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob11/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob2/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob2/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob3/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob3/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob9/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob9/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob10/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj_Prob10/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob1/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob1/dist/
/Lab/TruthTable/build/
/Lab/TruthTable/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob1/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob1/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob2/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob2/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob3/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob3/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob4/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob4/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob6/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_PracProb_Prob6/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_ProgProj_Prob1/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_ProgProj_Prob1/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_ProgProj_Prob2/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_ProgProj_Prob2/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_ProgProj_Prob3/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap3_ProgChal_Prob1/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap3_ProgChal_Prob1/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap3_ProgChal_Prob2/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap3_ProgChal_Prob2/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob1/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob1/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob2/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob2/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob3/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob3/dist/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_Prob22/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_Prob22/dist/
/Lab/Gaddis_7thEd_Chap4_Prob22/build/
/Lab/Gaddis_7thEd_Chap4_Prob22/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob4/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob4/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob5/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob5/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob6/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob6/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob7/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob7/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob8/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob8/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob9/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob9/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob10/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob10/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob12/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob12/dist/
/Hmwk/Assignment_3/Menu_Assignment3/build/
/Hmwk/Assignment_3/Menu_Assignment3/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob1/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob1/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob3/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob3/dist/
/Lab/Riddler/build/
/Lab/Riddler/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob6/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob6/build/
/Hmwk/Assignment_4/Riddler/build/
/Hmwk/Assignment_4/Riddler/dist/
/Hmwk/Assignment_4/Riddler(from Savitch 9th Ed)/build/
/Hmwk/Assignment_4/Riddler(from Savitch 9th Ed)/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob7/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob7/dist/
/Lab/Busted_Keypad/build/
/Lab/Busted_Keypad/dist/
/Lab/MontyHall/build/
/Lab/MontyHall/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob9/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob9/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob8/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob8/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob12/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob12/dist/
/Lab/menuRepeat/build/
/Lab/menuRepeat/dist/
/Lab/FriedTwinkies/build/
/Lab/FriedTwinkies/dist/
/Hmwk/Assignment_4/Menu_Assignment4/build/
/Hmwk/Assignment_4/Menu_Assignment4/dist/
/Lab/SavingsFunction/build/
/Lab/SavingsFunction/dist/
/Lab/ComputersMakeErrors/build/
/Lab/ComputersMakeErrors/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob1/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob1/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob2/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob2/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob3/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob3/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob4/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob4/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob5/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob5/dist/
/Hmwk/Assignment_5/Gaddis_8th_Chap6_Prob6/build/
/Hmwk/Assignment_5/Gaddis_8th_Chap6_Prob6/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob7/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob7/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob9/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob9/dist/