/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob4/build/
/Hmwk/Hwrk1/Gaddis_8thEd_Chap2_Prob18/Gaddis_8thEd_Chap2_Prob18/build/
/Hmwk/Hwrk1/Gaddis_8thEd_Chap2_Prob18/Gaddis_8thEd_Chap2_Prob18/dist/
/Lab/BigLetterC/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob1/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob1/dist/
/Hmwk/Hwrk1/Savitch_9thed_chap1_pracprob_prob2/build/
/Hmwk/Hwrk1/Savitch_9thed_chap1_pracprob_prob2/dist/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob3/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob3/dist/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob5/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob5/dist/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_PracProb_Prob6/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob1/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProj_Prob1/dist/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProb_Prob2/build/
/Hmwk/Hwrk1/Savitch_9thEd_Chap1_ProgProb_Prob2/dist/
/Hmwk/Hwrk1/Savitch_9thed_Chap1_ProgProb_Prob3/build/
/Hmwk/Hwrk1/Savitch_9thed_Chap1_ProgProb_Prob3/dist/